.account-info {
  height: 220px;
  background-color: white;
  position: relative;
  .header-image {
    height: 100px;
    background-color: aqua;
  }
  .account-idenfication {
    height: 60px;
    background-color: white;
    .account-icon {
      width: 68px;
      height: 68px;
      border: 2px solid white;
      border-radius: 35px;
      background-color: deepskyblue;
      position: absolute;
      top: 70px;
      left: 10px;
    }
    .account-name-id {
      width: 130px;
      height: 60px;
      padding-top: 5px;
      margin-left: 90px;
      span {
        font-weight: bold;
        font-size: 18px;
      }
      span:hover {
        border-bottom: 1px solid black;
      }
      div {
        color: #666666;
        font-size: 13px;
      }
      em:hover {
        border-bottom: 1px solid #666666;
      }
    }
  }
  .account-incidental {
    height: 60px;
    padding: 0 15px;
    .incidential-list {
      display: flex;
      justify-content: space-between;
      div {
        flex: 0 0 32%;
        display: block;
        a {
          display: block;
          .statusLabel {
            font-weight: 600;
            font-size: 12px;
            color: gray;
          }
          .statusValue {
            line-height: 20px;
            font-size: 16px;
            font-weight: bold;
            color: dodgerblue;
            height: 20px;
            display: block;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
