<%= render partial: "tweets/header" %>
<div class="post-modal-wrapper" id="post-modal">
  <%= render partial: "tweets/post_modal" %>
</div>
<div class="message-modal-wrapper" id="message-modal">
  <%= render partial: "tweets/message_modal" %>
</div>

<div class="content">
  <div class="hole-content">
    <div class="left-content">
      <div class="">
      </div>
    </div>
  </div>
</div>
