<%= render partial: "tweets/header" %>
<h1>hello</h1>
<div class="post-modal-wrapper" id="post-modal">
  <%= render partial: "tweets/post_modal" %>
</div>
<div class="message-modal-wrapper" id="message-modal">
  <%= render partial: "tweets/message_modal" %>
</div>
