<%= render partial: "header/header" %>

<div class="s">
  <div class="aaaa">
    <div class="aaaa1">
    </div>
    <div class="aaaa2">
      <ul>
        <li class="icon"></li>
        <li>
          <ul>
            <li><label><a href="">
              <div>ツイート</div>
              <div class="length"> 5059</div></a></label>
            </li>
            <li><label><a href="">
              <div>フォロー</div>
              <div class="length"> 505</div></a></label>
            </li>
            <li><label><a href="">
              <div>
                フォロワー
              </div>
              <div class="length">
                305
              </div></a></label>
            </li>
            <li><label><a href="">
              <div>リスト</div>
              <div class="length"> 0</div></a></label>
            </li class="length">
            <li><label><a href="">
              <span>モーメント</span></br>
              <span class="length"> 5</span></a></label>
            </li>
          </ul>
        </li>
        <li>フォロー中</li>
      </ul>
    </div>
  </div>
  <div class="bbbb">
    <div class="bbbb0">
      <div class="bbbb1">
        <h3><%= @user.name %></h3>
        <h4> @<%= @user.user_identifier %></h4>
      </div>
      <div class="bbbb2 tweets-wrapper">
        <ol>
          <%= render partial: "tweet_item" %>
        </ol>
      </div>
      <div class="bbbb3">
      </div>
    </div>
  </div>
<!-- </div> -->
