<%= render partial: "header/header" %>

<div class="s">
  <div class="aaaa">
    <div class="aaaa1">
    </div>
    <div class="aaaa2">
      <ul>
        <li class="icon"></li>
        <li>
          <ul>
            <li><label><a href="">
              <div>ツイート</div>
              <div> 5059</div></a></label>
            </li>
            <li><label><a href="">
              <div>フォロー</div>
              <div> 505</div></a></label>
            </li>
            <li><label><a href="">
              <div>
                フォロワー
              </div>
              <div>
                305
              </div></a></label>
            </li>
            <li><label><a href="">
              <div>リスト</div>
              <div> 0</div></a></label>
            </li>
            <li><label><a href="">
              <span>モーメント</span></br>
              <span> 5</span></a></label>
            </li>
          </ul>
        </li>
        <li>フォロー中</li>
      </ul>
    </div>
  </div>
  <div class="bbbb">
    <div class="bbbb0">
      <div class="bbbb1">
        <h3><%= current_user.name %></h3>
        <h4> @<%= current_user.user_identifier %></h4>
      </div>
      <div class="bbbb2">
      </div>
      <div class="bbbb3">
      </div>
    </div>
  </div>
</div>
