<div class="account-info">
  <div class="header-image">
  </div>
  <a href="#" >
  <div class="account-idenfication">
    <div class="account-icon">
    </div>
    <div class="account-name-id">
      <h2>がひゅー</h2>
      <h3>@gahyuuuuuuuu</h3>
    </div>
  </div>
  </a>
  <div class="account-incidental">
    <div class="incidential-list">
      <ul>
        <li class="tweets">
          <a>
            <span class="statusLabel">ツイート</span>
            <span class="statusValue">5000</span>
          </a>
        </li>
        <li class="follow_user">
          <a>
            <span class="statusLabel">フォロー</span>
            <span class="statusValue">559</span>
          </a>
        </li>
        <li class="followed_user">
          <a>
            <span class="statusLabel">フォロワー</span>
            <span class="statusValue">362</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
