<div class="post_area">
  <%= form_for @tweet do |f| %>
    <ul>
      <li>
        <div class="user-icon">
        </div>
      </li>
      <li id="post-input-fadeOut">
        <%= f.text_field :content, placeholder: "いまどうしてる？" %>
        <label>
          <input type="file" name="" style="display:none;">
          <span class="fa fa-image"></span>
        </label>
      </li>
      <li style="display:none;" id="post-textarea">
        <div class="main_textarea_area">
          <%= f.text_area :content, placeholder: "いまどうしてる？" %>
          <div id="post-textarea-footer">
            <label>
              <input type="file" name="" style="display:none;">
              <i class="fa fa-image"></i>
            </label>
            <i class="fa fa-money"></i>
            <i class="fa fa-tasks"></i>
            <i class="fa fa-map-marker"></i>
            <%= f.button :ツイート, type: "submit", class: "post-submit-btn" %>
          </div>
        </div>
      </li>
    </ul>
  <% end %>
</div>
