<div class="post_area">
  <ul>
    <li>
      <div class="user-icon">
      </div>
    </li>
    <li id="post-input-fadeOut">
      <input type="text" placeholder="いまどうしてる？">
      <label>
        <input type="file" name="" style="display:none;">
        <span class="fa fa-image"></span>
      </label>
    </li>
    <li style="display:none;" id="post-textarea">
      <textarea placeholder="いまどうしてる？"></textarea>
      <div id="post-textarea-footer">
        <i class="fa fa-image"></i>
        <i class="fa fa-money"></i>
        <i class="fa fa-tasks"></i>
        <i class="fa fa-map-marker"></i>
        <button type="submit" class="post-submit-btn">ツイート</button>
      </div>
    </li>
  </ul>
</div>
