<div class="post-modal-wrapper" id="post-modal">
  <%= render partial: "header/post_modal" %>
</div>
<div class="message-modal-wrapper" id="message-modal">
  <%= render partial: "header/message_modal" %>
</div>

<div class="header">
  <ul class="left-menus">
    <li>
      <%= link_to "ホーム", root_path, class: "fa fa-home" %>
    </li>
    <li>
      <a class="fa fa-bolt" href=""> モーメント</a>
    </li>
    <li>
      <a class="fa fa-bell-o" href=""> 通知</a>
    </li>
    <li>
      <a class="fa fa-envelope-o" id="display-message-modal"> メッセージ</a>
    </li>
  </ul>
  <ul class="right-menus">
    <li class="search-query">
      <input type="search" name="" placeholder=" キーワード検索" id="search-query">
      <span>
        <button type="submit" class="fa fa-search"></button>
      </span>
    </li>
    <li class="user_icon">
      <a style="background-image:url(<%= current_user.image.header_icon.to_s %>)"></a>
    </li>
    <li class="tweet_button">
      <p id="display-post-modal">ツイート</p>
    </li>
  </ul>
  <ul class="reload-icon">
    <a href="javascript:location.reload();" class="fa fa-twitter fa-2x"></a>
  </ul>
</div>
