<div class="colse-modal-area">
</div>
<div class="modal">
  <%= form_for @tweet do |f| %>
    <h2>ツイートする</h2>
    <div class="form_area">
      <div class="textarea">
        <%= f.text_area :content, autofocus: true, placeholder: "いまどうしてる？", class: "form-control" %>
      </div>
      <div class="post_modal_footer">
        <label>
          <input type="file" name="" style="display:none;">
          <i class="fa fa-image"></i>
        </label>
        <i class="fa fa-money"></i>
        <i class="fa fa-tasks"></i>
        <i class="fa fa-map-marker"></i>
        <%= f.submit :ツイート, class: "submit-btn" %>
      </div>
    </div>
  <% end %>
</div>
