.content {
  width: 100%;
  min-height: 800px;
  height: auto;
  background-color: #e6ecf0;
  padding-top: 10px;
  @include clearfix();
  .hole-content {
    margin: 0 auto;
    width: 100%;
    height: auto;
    width: calc(100% - 240px);
    .left-content {
      float: left;
      width: 300px;
      height: 700px; //仮置き
      .account-info {
        height: 220px;
        background-color: white;
      }
      .recommended-trend {
        height: 400px;
        background-color: white;
        margin-top: 10px;
        padding: 10px;
      }
    }
    .main-content {
      float: left;
      width :580px;
      height: auto; //仮置き
      background-color: white;
      margin: 0 10px;
      @include clearfix();
    }
    .right-content {
      float: left;
      width: 300px;
      // height: 300px; //仮置き
      .recommended-users {
        height: 350px;
        background-color: white;
      }
      .advertisements {
        height: 220px;
        background-color: white;
        margin-top: 10px;
      }
    }
  }
}
