.user_item {
  float: left;
  position: relative;
  width: 290px;
  height: 280px;
  background-color: cyan;
  margin: 0 10px 10px 0;
  .user_header {
    width: 100%;
    height: 100px;
    background-color: cyan;
  }
  .user_info {
    width: 100%;
    background-color: white;
    height: 180px;
    .user_icon {
      position: absolute;
      top: 60px;
      left: 10px;
      height: 68px;
      width: 68px;
      border-radius: 50%;
      background-color: $blue;
      border: 2px solid white;
    }
    .follow_request {
      float: right;
      margin: 6px 30px 0;
      .btn {
            height: 24px;
            display: block;
            color: white;
            font-size: 14px;
            border-color: $blue;
            background-color: $blue;
            line-height: 25px;
            margin: 2px 0;
            padding: 0 15px;
            border-radius: 12px;
      }
    }
    .user_status {
      padding: 35px 0 0 10px;
      .user_name {
        font-weight: bold;
        font-size: 18px;
        margin-left: 5px;
      }
      .user_identifier {
        color: gray;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}
